body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  ul,
  p,
  blockquote,
  dd {
    margin: 0px;
  }
  
  ul {
    padding: 0px;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  /* Estilos do Header */
  .header-bg {
    background-color: #000000; 
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .header-menu a {
    display: inline-block;
    padding: 16px 0px;
    position: relative;
    color: #ffffff;
    font: 400 1.125rem/1.35 "Poppins", sans-serif;
  }
  
  .header-menu a:after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: #ffbb00;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
  }
  
  .header-menu a:hover::after,
  .header-menu a.ativo::after {
    width: 100%;
  }
  
  @media (max-width: 800px) {
    .header-menu {
      gap: 20px;
    }
    .header-menu a {
      background: #000000;
      padding: 12px 16px;
      border-radius: 4px;
    }
    .header-menu a:hover {
      background-color: #000000;
    }
    .header a:after {
      display: none;
    }
  }
  
  @media (max-width: 600px) {
    .header-menu {
      gap: 20px;
    }
    .header-menu a {
      padding: 8px;
      font-size: 14px;
    }
  }
  
  /* Estilos do Footer */
  .footer-bg {
    background-color: #000000;
    color: #b2b2b2;
  }
  
  .footer {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer a:hover {
    text-decoration: none;
  }
  
  .footer h3 {
    margin-bottom: 32px;
    font: 400 1.5rem/1.5 "Roboto", sans-serif;
    color:#ffffff;
  }
  
  .footer-contato ul {
    margin-bottom: 32px;
    font: 500 1.125rem/1.35 "Roboto", sans-serif;
    color: #ffffff;
  }
  
  .footer-contato li:nth-child(even):after {
    content: "";
    display: block;
    max-width: 360px;
    height: 2px;
    background: #000000;
    margin-top: 16px;
  }
  
  .footer-informacoes h3 {
    font: 400 1.5rem/1.5 "Roboto", sans-serif;
    color: #ffffff;
  }
  
  .footer li {
    margin-bottom: 16px;
    color: #b2b2b2;
    font: 500 1.125rem/1.35 "Roboto", sans-serif;
  }
  
  .footer-redes {
    display: flex;
    gap: 32px;
  }
  
  .footer a:hover {
    color: #ffbb00;
  }
  
  .footer-copy {
    grid-column: 1/-1;
    margin-top: 40px;
    font: 500 1.125rem/1.35 "Roboto", sans-serif;
    color:#9c9c9c;
  }
  
  @media (max-width: 800px) {
    .footer > img {
      display: none;
    }
    .footer {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 600px) {
    .footer {
      grid-template-columns: 1fr;
      gap: 60px;
    }
    .footer-copy {
      margin-top: 0px;
    }
  }
/* Estilos das Animações */

.fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

  /* Estilo do conteúdo principal */
  .topo {
      background-color: #000000;
      padding-top: 20px;
      color: #9c9c9c;
      font-family: "Roboto";

  }

  .topo-p {
    background-color: #000000;
    padding: 20px;
    color: #9c9c9c;
    font: 400 1.5rem/1.5 "Roboto", sans-serif;
}
  .chamada-h1{
    margin-top: 1px;
    color: #ffffff;
    font: 600 4rem/1.125 "Poppins", sans-serif;
  
}

.chamada-h1-fim{
  margin-top: 200px;
  color: #ffffff;
  font: 600 4rem/1.125 "Poppins", sans-serif;
}

    .informacoes-p {
    color: #9c9c9c;
    font: 400 1.rem/1.5 "Roboto", sans-serif;
}
    .ponto {
    color: #ffbb00;
}
    .botao-contratar, .botao-contratar:hover{
      color: #000000;
      font-weight: 400;

}

  .topo > img {
      max-width: 50vw;
  }

  #titulo-card {
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding:  0 0 10px 5px;
    font-family: "Poppins", sans-serif;
  }
  .icone {
      width: 40px;
      height: auto;
  }

  .card {
    background-color: #111111;
  }

  .card .fa-solid {
    color: #FFBB00;
  }

  .card > h3 {
    font-size: 15px;
    color: white;
    font-weight: 600;
  }

  .card .text-white {
    font-size: 12px;
  }

  .titulo-semi-amarelo {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color:#000000 ;
  }

  .titulo-semi-amarelo::after {
    content: ".";
    color: #FFBB00;
  }

  .curso {
    background-color: #111111;
    color: #9c9c9c;
    padding: 2rem;
    /* margin-bottom: -8%; */
  }

  .curso h1 {
    padding-top: 30px;
    color: white;
    font-size: 70px;
    font-weight: 600;
  }

  .curso h1::after {
    content: "curso.";
    color: #FFBB00;
  }

  .curso p {
    color: #9c9c9c;
    font-size: 20px;
    font-weight: 600;
  }
  

  .imagem-sobreposta {
    position: relative;
    top: -50px;
    z-index: 2;
  }

  @media (max-width: 1140px) {
    .curso {
     padding-bottom: 1rem;
     margin-bottom: auto;
    }
    
  }

  .experts {
    padding: 2rem;
  }

  .expert {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 1rem;
  }

  .nome-expert {
    color: #FFBB00;
    font-weight: 600;
  }

  .foto-expert {
    border-radius: 50%;
  }

  .grid-cursos {
    background-color:#111111;
    padding: 2rem;
  }

  .grid-cursos > h1 {
    color: white;
  }

  .faq {
    background-color: white;
    padding: 2rem;
    padding-top: 70px;
    
  }

  .faq-pergunta {
    font-size: 20px;
    color: #000000;
    background-color: #ebc4591f;
    padding: 10px 0 10px 0;
    cursor: pointer;
    margin-top: 1rem;
  }

  .faq-pergunta::before {
    content: "+";
    color: #ffbb00;
  }

  .faq-resposta {
    margin-bottom: 1rem;
  }

  .grid-cursos-menor {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-size: 100px;
    gap: 30px;
    
  }

  @media (max-width: 800px) {
    .grid-cursos-menor {
      display: flex;
      flex-direction: column;
    }
  }

  /* Estilos dos Planos */
.plano {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  color: #ffffff;
  font: 600 3rem/1.125 "Poppins", sans-serif;
}

.plano > h1 {
grid-column: 1 / 3;
}

.plano-item {
  background-color: #000000;
  padding: 32px 32px 32px 60px;
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: 4px;
}

.plano-valor {
  grid-column: 2 / 3;
  display: block;
  text-align: right;
  color: #ffffff;
  font: 600 2rem/1.25 "Poppins", sans-serif;
}

.plano-mes{
color: #b2b2b2;
display: block;
font: 400 0.75rem/1.35 "Poppins", sans-serif;
}

.plano-item ul {
  grid-column: 1/-1;
  margin-bottom: 32px;
  font: 500 1.125rem/1.35 "Roboto", sans-serif;
  color:#ffffff;
}

.plano-item li {
  display: flex;
  align-items: center;
  position: relative;
}

.plano-item li + li {
  margin-top: 20px;
}

.plano-item li::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background-image: url("../../img/icones/lista.svg");
  position: absolute;
  left: -21px;
}

.plano-item a {
  width: 100px;
}

@media (max-width: 800px) {
  .plano {
    grid-template-columns: 1fr;
  }

  .plano-item {
    width: 80%;
  }

  .plano > h1 {
    grid-column: 1/2;
  }
}

.btn {
  font-size: 12px;
}

